<%- include("partials/header", {title: "404"}) %>
<%- include("partials/nav") %>
<%- include("partials/hero") %>
<div>
    <div>
        <div>
            <h1><%= title %></h1>
            <p><%= message %></p>
            <a>Go Back Home</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>